.queueTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.queueIndex {
  position: relative;
  inset-block-end: 15px;
  color: var(--tertiary-text-color);
}

.queueButtons {
  margin-block: 8px;
}

.queueButton {
  background-color: transparent;
  font-size: 20px;
  line-height: 1em;
  padding: 10px;
  margin-block-start: -25px;
  cursor: pointer;
  border-radius: 50%;
  border-style: none;
  color: var(--tertiary-text-color);
  transition: background 0.2s ease-out;
  stroke-width: 20;
  stroke: var(--bg-color);
}

.queueButton:hover {
  background-color: var(--side-nav-hover-color);
  color: var(--side-nav-hover-text-color);
  stroke-width: 20;
  stroke: var(--side-nav-hover-color);
  transition: background 0.2s ease-in;
}

.queueButtonActive {
  color: var(--accent-color);
  stroke-width: 10;
  stroke: var(--accent-color);
}

.queueButtonActive:hover {
  background-color: var(--side-nav-hover-color);
  color: var(--accent-color-hover);
  stroke-width: 10;
  stroke: var(--accent-color-hover);
  transition: background 0.2s ease-in;
}

.queueIcon {
  inline-size: 1em;
}

.queueItemsWrapper {
  overflow-y: auto;
  block-size: 360px;
}

.queueItem {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  transition: background 0.2s ease-out;
}

.queueItem:not(:last-child) {
  margin-block-end: 8px;
}

.queueItem:hover {
  background-color: var(--side-nav-hover-color);
  color: var(--side-nav-hover-text-color);
  transition: background 0.2s ease-in;
}
